# Census Data API: ACS 2019 Statewide Population

In [34]:
from urllib import request
import json

census_api_key= '75b228a93b0b0592dd6d820dc0077020a546514a'
url_str= 'https://api.census.gov/data/2019/acs/acs5?get=B01003_001E,NAME,GEO_ID&for=state:*&key='+census_api_key

predicates= {}
get_vars= ["NAME","GEO_ID","B01003_001E"]
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:*"
r= requests.get(url_str, params= predicates)

In [35]:
print(r.text)

[["B01003_001E","NAME","GEO_ID","state"],
["4876250","Alabama","0400000US01","01"],
["737068","Alaska","0400000US02","02"],
["7050299","Arizona","0400000US04","04"],
["2999370","Arkansas","0400000US05","05"],
["39283497","California","0400000US06","06"],
["5610349","Colorado","0400000US08","08"],
["957248","Delaware","0400000US10","10"],
["692683","District of Columbia","0400000US11","11"],
["3575074","Connecticut","0400000US09","09"],
["20901636","Florida","0400000US12","12"],
["10403847","Georgia","0400000US13","13"],
["1717750","Idaho","0400000US16","16"],
["1422094","Hawaii","0400000US15","15"],
["12770631","Illinois","0400000US17","17"],
["6665703","Indiana","0400000US18","18"],
["3139508","Iowa","0400000US19","19"],
["2910652","Kansas","0400000US20","20"],
["4449052","Kentucky","0400000US21","21"],
["4664362","Louisiana","0400000US22","22"],
["1335492","Maine","0400000US23","23"],
["6018848","Maryland","0400000US24","24"],
["6850553","Massachusetts","0400000US25","25"],
["9965265","Michigan","0400000US26","26"],
["5563378","Minnesota","0400000US27","27"],
["2984418","Mississippi","0400000US28","28"],
["6104910","Missouri","0400000US29","29"],
["1050649","Montana","0400000US30","30"],
["1914571","Nebraska","0400000US31","31"],
["2972382","Nevada","0400000US32","32"],
["1348124","New Hampshire","0400000US33","33"],
["8878503","New Jersey","0400000US34","34"],
["2092454","New Mexico","0400000US35","35"],
["19572319","New York","0400000US36","36"],
["10264876","North Carolina","0400000US37","37"],
["756717","North Dakota","0400000US38","38"],
["11655397","Ohio","0400000US39","39"],
["3932870","Oklahoma","0400000US40","40"],
["4129803","Oregon","0400000US41","41"],
["12791530","Pennsylvania","0400000US42","42"],
["1057231","Rhode Island","0400000US44","44"],
["5020806","South Carolina","0400000US45","45"],
["870638","South Dakota","0400000US46","46"],
["6709356","Tennessee","0400000US47","47"],
["28260856","Texas","0400000US48","48"],
["624313","Vermont","0400000US50","50"],
["3096848","Utah","0400000US49","49"],
["8454463","Virginia","0400000US51","51"],
["7404107","Washington","0400000US53","53"],
["1817305","West Virginia","0400000US54","54"],
["5790716","Wisconsin","0400000US55","55"],
["581024","Wyoming","0400000US56","56"],
["3318447","Puerto Rico","0400000US72","72"]]

In [36]:
print(r.json()[0])

['B01003_001E', 'NAME', 'GEO_ID', 'state']

In [37]:
col_names= ["total_pop","Name", "GEO_ID", "state"]

In [38]:
import pandas as pd
df= pd.DataFrame (columns=col_names, data=r.json()[1:])
#fix data types
df["total_pop"]= df["total_pop"].astype(int)
df.head()

   total_pop        Name       GEO_ID state
0    4876250     Alabama  0400000US01    01
1     737068      Alaska  0400000US02    02
2    7050299     Arizona  0400000US04    04
3    2999370    Arkansas  0400000US05    05
4   39283497  California  0400000US06    06

In [39]:
# df.to_csv('TEST.csv', encoding='utf-8', index=False)

# Census Data TARGET: Mapping

In [45]:
import geopandas as gpd
import requests
import zipfile
import pandas as pd
import numpy as np
import io
import matplotlib.pyplot as plt

%matplotlib inline 
# jupyter "magic" to display plots in notebook

In [46]:
url_2 ="https://www2.census.gov/geo/tiger/TIGER2020/STATE/tl_2020_us_state.zip"

In [47]:
local_path = 'tmp/'

print('Downloading shapefile...')

r = requests.get(url_2)
z = zipfile.ZipFile(io.BytesIO(r.content))
print("Done")

z.extractall(path=local_path) 
# extract to folder

filenames = [y for y in sorted(z.namelist()) for ending in ['dbf', 'prj', 'shp', 'shx'] if y.endswith(ending)] 
print(filenames)

Downloading shapefile...
Done
['tl_2020_us_state.dbf', 'tl_2020_us_state.prj', 'tl_2020_us_state.shp', 'tl_2020_us_state.shx']

In [48]:
dbf, prj, shp, shx = [filename for filename in filenames]
usa = gpd.read_file(local_path + shp)
print("Shape of the dataframe: {}".format(usa.shape))
print("Projection of dataframe: {}".format(usa.crs))

usa.tail() 
#last 5 records in dataframe

usa.head()

Shape of the dataframe: (56, 15)
Projection of dataframe: {'init': 'epsg:4269'}

,REGION,DIVISION,STATEFP,STATENS,GEOID,STUSPS,NAME,LSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,3,5,54,01779805,54,WV,West Virginia,00,G4000,A,62266296765,489206049,+38.6472854,-080.6183274,"POLYGON ((-81.74725 39.09538, -81.74635 39.096..."
1,3,5,12,00294478,12,FL,Florida,00,G4000,A,138958484319,45975808217,+28.3989775,-082.5143005,"MULTIPOLYGON (((-86.39964 30.22696, -86.40262 ..."
2,2,3,17,01779784,17,IL,Illinois,00,G4000,A,143778461053,6216594318,+40.1028754,-089.1526108,"POLYGON ((-91.18529 40.63780, -91.17510 40.643..."
3,2,4,27,00662849,27,MN,Minnesota,00,G4000,A,206232157570,18949864226,+46.3159573,-094.1996043,"POLYGON ((-96.78438 46.63050, -96.78434 46.630..."
4,3,5,24,01714934,24,MD,Maryland,00,G4000,A,25151895765,6979171386,+38.9466584,-076.6744939,"POLYGON ((-77.45881 39.22027, -77.45866 39.220..."

In [49]:
df2= pd.DataFrame (usa, columns= ['GEOID', 'NAME', 'geometry'])
print (df)

    total_pop                  Name       GEO_ID state
0     4876250               Alabama  0400000US01    01
1      737068                Alaska  0400000US02    02
2     7050299               Arizona  0400000US04    04
3     2999370              Arkansas  0400000US05    05
4    39283497            California  0400000US06    06
5     5610349              Colorado  0400000US08    08
6      957248              Delaware  0400000US10    10
7      692683  District of Columbia  0400000US11    11
8     3575074           Connecticut  0400000US09    09
9    20901636               Florida  0400000US12    12
10   10403847               Georgia  0400000US13    13
11    1717750                 Idaho  0400000US16    16
12    1422094                Hawaii  0400000US15    15
13   12770631              Illinois  0400000US17    17
14    6665703               Indiana  0400000US18    18
15    3139508                  Iowa  0400000US19    19
16    2910652                Kansas  0400000US20    20
17    4449052              Kentucky  0400000US21    21
18    4664362             Louisiana  0400000US22    22
19    1335492                 Maine  0400000US23    23
20    6018848              Maryland  0400000US24    24
21    6850553         Massachusetts  0400000US25    25
22    9965265              Michigan  0400000US26    26
23    5563378             Minnesota  0400000US27    27
24    2984418           Mississippi  0400000US28    28
25    6104910              Missouri  0400000US29    29
26    1050649               Montana  0400000US30    30
27    1914571              Nebraska  0400000US31    31
28    2972382                Nevada  0400000US32    32
29    1348124         New Hampshire  0400000US33    33
30    8878503            New Jersey  0400000US34    34
31    2092454            New Mexico  0400000US35    35
32   19572319              New York  0400000US36    36
33   10264876        North Carolina  0400000US37    37
34     756717          North Dakota  0400000US38    38
35   11655397                  Ohio  0400000US39    39
36    3932870              Oklahoma  0400000US40    40
37    4129803                Oregon  0400000US41    41
38   12791530          Pennsylvania  0400000US42    42
39    1057231          Rhode Island  0400000US44    44
40    5020806        South Carolina  0400000US45    45
41     870638          South Dakota  0400000US46    46
42    6709356             Tennessee  0400000US47    47
43   28260856                 Texas  0400000US48    48
44     624313               Vermont  0400000US50    50
45    3096848                  Utah  0400000US49    49
46    8454463              Virginia  0400000US51    51
47    7404107            Washington  0400000US53    53
48    1817305         West Virginia  0400000US54    54
49    5790716             Wisconsin  0400000US55    55
50     581024               Wyoming  0400000US56    56
51    3318447           Puerto Rico  0400000US72    72

In [50]:
print (type('GEOID'))

<class 'str'>

In [52]:
df2['Geo_ID']= '0400000US' + df2['GEOID'].astype(str)
print (df2)

   GEOID                                          NAME  \
0     54                                 West Virginia
1     12                                       Florida
2     17                                      Illinois
3     27                                     Minnesota
4     24                                      Maryland
5     44                                  Rhode Island
6     16                                         Idaho
7     33                                 New Hampshire
8     37                                North Carolina
9     50                                       Vermont
10    09                                   Connecticut
11    10                                      Delaware
12    35                                    New Mexico
13    06                                    California
14    34                                    New Jersey
15    55                                     Wisconsin
16    41                                        Oregon
17    31                                      Nebraska
18    42                                  Pennsylvania
19    53                                    Washington
20    22                                     Louisiana
21    13                                       Georgia
22    01                                       Alabama
23    49                                          Utah
24    39                                          Ohio
25    48                                         Texas
26    08                                      Colorado
27    45                                South Carolina
28    40                                      Oklahoma
29    47                                     Tennessee
30    56                                       Wyoming
31    15                                        Hawaii
32    38                                  North Dakota
33    21                                      Kentucky
34    78                  United States Virgin Islands
35    69  Commonwealth of the Northern Mariana Islands
36    66                                          Guam
37    23                                         Maine
38    36                                      New York
39    32                                        Nevada
40    02                                        Alaska
41    60                                American Samoa
42    26                                      Michigan
43    05                                      Arkansas
44    28                                   Mississippi
45    29                                      Missouri
46    30                                       Montana
47    20                                        Kansas
48    18                                       Indiana
49    72                                   Puerto Rico
50    46                                  South Dakota
51    25                                 Massachusetts
52    51                                      Virginia
53    11                          District of Columbia
54    19                                          Iowa
55    04                                       Arizona

                                             geometry       Geo_ID
0   POLYGON ((-81.74725 39.09538, -81.74635 39.096...  0400000US54
1   MULTIPOLYGON (((-86.39964 30.22696, -86.40262 ...  0400000US12
2   POLYGON ((-91.18529 40.63780, -91.17510 40.643...  0400000US17
3   POLYGON ((-96.78438 46.63050, -96.78434 46.630...  0400000US27
4   POLYGON ((-77.45881 39.22027, -77.45866 39.220...  0400000US24
5   MULTIPOLYGON (((-71.78970 41.72520, -71.78971 ...  0400000US44
6   POLYGON ((-116.89971 44.84061, -116.89967 44.8...  0400000US16
7   POLYGON ((-72.32990 43.60021, -72.32984 43.600...  0400000US33
8   POLYGON ((-82.41674 36.07283, -82.41660 36.073...  0400000US37
9   POLYGON ((-73.31328 44.26413, -73.31274 44.265...  0400000US50
10  POLYGON ((-73.51808 41.66672, -73.51807 41.666...  0400000US09
11  POLYGON ((-75.76007 39.29682, -75.76010 39.297...  0400000US10
12  POLYGON ((-106.00632 36.99527, -106.00531 36.9...  0400000US35
13  MULTIPOLYGON (((-124.13656 41.46445, -124.1378...  0400000US06
14  POLYGON ((-75.18960 40.59178, -75.18977 40.592...  0400000US34
15  POLYGON ((-92.88707 45.64415, -92.88671 45.644...  0400000US55
16  POLYGON ((-124.06545 45.78305, -124.06206 45.7...  0400000US41
17  POLYGON ((-104.05264 42.00178, -104.05263 42.0...  0400000US31
18  POLYGON ((-80.51935 41.84956, -80.51938 41.850...  0400000US42
19  POLYGON ((-123.24792 48.28456, -123.24751 48.2...  0400000US53
20  POLYGON ((-92.06893 33.00799, -92.06840 33.007...  0400000US22
21  POLYGON ((-85.38658 33.90172, -85.38659 33.901...  0400000US13
22  POLYGON ((-88.13999 34.58170, -88.13997 34.581...  0400000US01
23  POLYGON ((-114.04703 39.90610, -114.04702 39.9...  0400000US49
24  POLYGON ((-84.80325 40.98939, -84.80324 40.991...  0400000US39
25  POLYGON ((-103.98018 32.00012, -103.97994 32.0...  0400000US48
26  POLYGON ((-109.05095 40.22265, -109.05097 40.2...  0400000US08
27  POLYGON ((-82.74207 34.21171, -82.74210 34.211...  0400000US45
28  POLYGON ((-100.00376 36.49985, -100.00397 36.4...  0400000US40
29  POLYGON ((-82.22206 36.15696, -82.22214 36.156...  0400000US47
30  POLYGON ((-111.04489 43.31572, -111.04494 43.3...  0400000US56
31  MULTIPOLYGON (((-155.43286 20.14521, -155.4315...  0400000US15
32  POLYGON ((-104.04497 47.33014, -104.04496 47.3...  0400000US38
33  MULTIPOLYGON (((-88.06130 37.50533, -88.06140 ...  0400000US21
34  MULTIPOLYGON (((-64.84373 18.39371, -64.84135 ...  0400000US78
35  MULTIPOLYGON (((145.57260 15.12502, 145.58774 ...  0400000US69
36  POLYGON ((144.56343 13.44806, 144.56357 13.450...  0400000US66
37  POLYGON ((-70.98912 43.79211, -70.98913 43.792...  0400000US23
38  MULTIPOLYGON (((-79.31214 42.68680, -79.24977 ...  0400000US36
39  POLYGON ((-119.32418 41.99392, -119.32362 41.9...  0400000US32
40  MULTIPOLYGON (((-165.25416 60.91711, -165.2630...  0400000US02
41  MULTIPOLYGON (((-170.79716 -14.24664, -170.794...  0400000US60
42  POLYGON ((-86.46412 45.32481, -86.46452 45.324...  0400000US26
43  POLYGON ((-94.55217 36.10213, -94.55250 36.103...  0400000US05
44  POLYGON ((-90.95690 34.12009, -90.95718 34.120...  0400000US28
45  POLYGON ((-94.60803 38.84721, -94.60803 38.849...  0400000US29
46  POLYGON ((-115.62949 47.47961, -115.62982 47.4...  0400000US30
47  POLYGON ((-102.04521 38.69757, -102.04521 38.7...  0400000US20
48  POLYGON ((-87.52659 40.47688, -87.52658 40.478...  0400000US18
49  MULTIPOLYGON (((-67.20794 18.44228, -67.20844 ...  0400000US72
50  POLYGON ((-100.49937 45.94365, -100.48192 45.9...  0400000US46
51  POLYGON ((-71.49826 42.01727, -71.49907 42.017...  0400000US25
52  POLYGON ((-78.86926 38.76298, -78.86897 38.763...  0400000US51
53  POLYGON ((-77.11975 38.93435, -77.11886 38.935...  0400000US11
54  POLYGON ((-96.49878 42.56104, -96.48707 42.572...  0400000US19
55  POLYGON ((-114.51684 33.02789, -114.51699 33.0...  0400000US04

In [66]:
df3= df2.set_index('Geo_ID').join(df.set_index('GEO_ID'))
print (df3)

            GEOID                                          NAME  \
Geo_ID
0400000US54    54                                 West Virginia
0400000US12    12                                       Florida
0400000US17    17                                      Illinois
0400000US27    27                                     Minnesota
0400000US24    24                                      Maryland
0400000US44    44                                  Rhode Island
0400000US16    16                                         Idaho
0400000US33    33                                 New Hampshire
0400000US37    37                                North Carolina
0400000US50    50                                       Vermont
0400000US09    09                                   Connecticut
0400000US10    10                                      Delaware
0400000US35    35                                    New Mexico
0400000US06    06                                    California
0400000US34    34                                    New Jersey
0400000US55    55                                     Wisconsin
0400000US41    41                                        Oregon
0400000US31    31                                      Nebraska
0400000US42    42                                  Pennsylvania
0400000US53    53                                    Washington
0400000US22    22                                     Louisiana
0400000US13    13                                       Georgia
0400000US01    01                                       Alabama
0400000US49    49                                          Utah
0400000US39    39                                          Ohio
0400000US48    48                                         Texas
0400000US08    08                                      Colorado
0400000US45    45                                South Carolina
0400000US40    40                                      Oklahoma
0400000US47    47                                     Tennessee
0400000US56    56                                       Wyoming
0400000US15    15                                        Hawaii
0400000US38    38                                  North Dakota
0400000US21    21                                      Kentucky
0400000US78    78                  United States Virgin Islands
0400000US69    69  Commonwealth of the Northern Mariana Islands
0400000US66    66                                          Guam
0400000US23    23                                         Maine
0400000US36    36                                      New York
0400000US32    32                                        Nevada
0400000US02    02                                        Alaska
0400000US60    60                                American Samoa
0400000US26    26                                      Michigan
0400000US05    05                                      Arkansas
0400000US28    28                                   Mississippi
0400000US29    29                                      Missouri
0400000US30    30                                       Montana
0400000US20    20                                        Kansas
0400000US18    18                                       Indiana
0400000US72    72                                   Puerto Rico
0400000US46    46                                  South Dakota
0400000US25    25                                 Massachusetts
0400000US51    51                                      Virginia
0400000US11    11                          District of Columbia
0400000US19    19                                          Iowa
0400000US04    04                                       Arizona

                                                      geometry   total_pop  \
Geo_ID
0400000US54  POLYGON ((-81.74725 39.09538, -81.74635 39.096...   1817305.0
0400000US12  MULTIPOLYGON (((-86.39964 30.22696, -86.40262 ...  20901636.0
0400000US17  POLYGON ((-91.18529 40.63780, -91.17510 40.643...  12770631.0
0400000US27  POLYGON ((-96.78438 46.63050, -96.78434 46.630...   5563378.0
0400000US24  POLYGON ((-77.45881 39.22027, -77.45866 39.220...   6018848.0
0400000US44  MULTIPOLYGON (((-71.78970 41.72520, -71.78971 ...   1057231.0
0400000US16  POLYGON ((-116.89971 44.84061, -116.89967 44.8...   1717750.0
0400000US33  POLYGON ((-72.32990 43.60021, -72.32984 43.600...   1348124.0
0400000US37  POLYGON ((-82.41674 36.07283, -82.41660 36.073...  10264876.0
0400000US50  POLYGON ((-73.31328 44.26413, -73.31274 44.265...    624313.0
0400000US09  POLYGON ((-73.51808 41.66672, -73.51807 41.666...   3575074.0
0400000US10  POLYGON ((-75.76007 39.29682, -75.76010 39.297...    957248.0
0400000US35  POLYGON ((-106.00632 36.99527, -106.00531 36.9...   2092454.0
0400000US06  MULTIPOLYGON (((-124.13656 41.46445, -124.1378...  39283497.0
0400000US34  POLYGON ((-75.18960 40.59178, -75.18977 40.592...   8878503.0
0400000US55  POLYGON ((-92.88707 45.64415, -92.88671 45.644...   5790716.0
0400000US41  POLYGON ((-124.06545 45.78305, -124.06206 45.7...   4129803.0
0400000US31  POLYGON ((-104.05264 42.00178, -104.05263 42.0...   1914571.0
0400000US42  POLYGON ((-80.51935 41.84956, -80.51938 41.850...  12791530.0
0400000US53  POLYGON ((-123.24792 48.28456, -123.24751 48.2...   7404107.0
0400000US22  POLYGON ((-92.06893 33.00799, -92.06840 33.007...   4664362.0
0400000US13  POLYGON ((-85.38658 33.90172, -85.38659 33.901...  10403847.0
0400000US01  POLYGON ((-88.13999 34.58170, -88.13997 34.581...   4876250.0
0400000US49  POLYGON ((-114.04703 39.90610, -114.04702 39.9...   3096848.0
0400000US39  POLYGON ((-84.80325 40.98939, -84.80324 40.991...  11655397.0
0400000US48  POLYGON ((-103.98018 32.00012, -103.97994 32.0...  28260856.0
0400000US08  POLYGON ((-109.05095 40.22265, -109.05097 40.2...   5610349.0
0400000US45  POLYGON ((-82.74207 34.21171, -82.74210 34.211...   5020806.0
0400000US40  POLYGON ((-100.00376 36.49985, -100.00397 36.4...   3932870.0
0400000US47  POLYGON ((-82.22206 36.15696, -82.22214 36.156...   6709356.0
0400000US56  POLYGON ((-111.04489 43.31572, -111.04494 43.3...    581024.0
0400000US15  MULTIPOLYGON (((-155.43286 20.14521, -155.4315...   1422094.0
0400000US38  POLYGON ((-104.04497 47.33014, -104.04496 47.3...    756717.0
0400000US21  MULTIPOLYGON (((-88.06130 37.50533, -88.06140 ...   4449052.0
0400000US78  MULTIPOLYGON (((-64.84373 18.39371, -64.84135 ...         NaN
0400000US69  MULTIPOLYGON (((145.57260 15.12502, 145.58774 ...         NaN
0400000US66  POLYGON ((144.56343 13.44806, 144.56357 13.450...         NaN
0400000US23  POLYGON ((-70.98912 43.79211, -70.98913 43.792...   1335492.0
0400000US36  MULTIPOLYGON (((-79.31214 42.68680, -79.24977 ...  19572319.0
0400000US32  POLYGON ((-119.32418 41.99392, -119.32362 41.9...   2972382.0
0400000US02  MULTIPOLYGON (((-165.25416 60.91711, -165.2630...    737068.0
0400000US60  MULTIPOLYGON (((-170.79716 -14.24664, -170.794...         NaN
0400000US26  POLYGON ((-86.46412 45.32481, -86.46452 45.324...   9965265.0
0400000US05  POLYGON ((-94.55217 36.10213, -94.55250 36.103...   2999370.0
0400000US28  POLYGON ((-90.95690 34.12009, -90.95718 34.120...   2984418.0
0400000US29  POLYGON ((-94.60803 38.84721, -94.60803 38.849...   6104910.0
0400000US30  POLYGON ((-115.62949 47.47961, -115.62982 47.4...   1050649.0
0400000US20  POLYGON ((-102.04521 38.69757, -102.04521 38.7...   2910652.0
0400000US18  POLYGON ((-87.52659 40.47688, -87.52658 40.478...   6665703.0
0400000US72  MULTIPOLYGON (((-67.20794 18.44228, -67.20844 ...   3318447.0
0400000US46  POLYGON ((-100.49937 45.94365, -100.48192 45.9...    870638.0
0400000US25  POLYGON ((-71.49826 42.01727, -71.49907 42.017...   6850553.0
0400000US51  POLYGON ((-78.86926 38.76298, -78.86897 38.763...   8454463.0
0400000US11  POLYGON ((-77.11975 38.93435, -77.11886 38.935...    692683.0
0400000US19  POLYGON ((-96.49878 42.56104, -96.48707 42.572...   3139508.0
0400000US04  POLYGON ((-114.51684 33.02789, -114.51699 33.0...   7050299.0

                             Name state
Geo_ID
0400000US54         West Virginia    54
0400000US12               Florida    12
0400000US17              Illinois    17
0400000US27             Minnesota    27
0400000US24              Maryland    24
0400000US44          Rhode Island    44
0400000US16                 Idaho    16
0400000US33         New Hampshire    33
0400000US37        North Carolina    37
0400000US50               Vermont    50
0400000US09           Connecticut    09
0400000US10              Delaware    10
0400000US35            New Mexico    35
0400000US06            California    06
0400000US34            New Jersey    34
0400000US55             Wisconsin    55
0400000US41                Oregon    41
0400000US31              Nebraska    31
0400000US42          Pennsylvania    42
0400000US53            Washington    53
0400000US22             Louisiana    22
0400000US13               Georgia    13
0400000US01               Alabama    01
0400000US49                  Utah    49
0400000US39                  Ohio    39
0400000US48                 Texas    48
0400000US08              Colorado    08
0400000US45        South Carolina    45
0400000US40              Oklahoma    40
0400000US47             Tennessee    47
0400000US56               Wyoming    56
0400000US15                Hawaii    15
0400000US38          North Dakota    38
0400000US21              Kentucky    21
0400000US78                   NaN   NaN
0400000US69                   NaN   NaN
0400000US66                   NaN   NaN
0400000US23                 Maine    23
0400000US36              New York    36
0400000US32                Nevada    32
0400000US02                Alaska    02
0400000US60                   NaN   NaN
0400000US26              Michigan    26
0400000US05              Arkansas    05
0400000US28           Mississippi    28
0400000US29              Missouri    29
0400000US30               Montana    30
0400000US20                Kansas    20
0400000US18               Indiana    18
0400000US72           Puerto Rico    72
0400000US46          South Dakota    46
0400000US25         Massachusetts    25
0400000US51              Virginia    51
0400000US11  District of Columbia    11
0400000US19                  Iowa    19
0400000US04               Arizona    04

In [67]:
df3.to_csv('Pop_State.csv', index=True)

In [68]:
df3= gpd.GeoDataFrame(df3, geometry='geometry')

In [69]:
df3.to_file('MyGeometries.shp', driver='ESRI Shapefile')